* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    background-image: url(clear-sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;

}
.banner, .app-title {
    background-color: blue;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.main, .flex-row {
    display: block;
    margin-top: 20px;
    height: 100vmax;
}

.button, .submit {
    width: 280.33px;
    padding: 3px;
    border-radius: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: blue;
    color: white;
    font-weight:500;
}

.border-line {
    margin-top: 10px;
    height: 2px;
    color: blue;
    width: 280px;
    border: 1px solid blue;
}

.input, .city-search {
    width: 280.33px;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}
/* .searched-cities {
    margin-top: 10px;
    width: 180px;
    margin-left: -10px;
} */



.city-title {
   display: flex;
   justify-content: center ;
    margin-top: 50px;
    margin-left: 350px;
    height: 350px;
    border: 0px solid blue;
    width: 800px;
}

.future-forecast, .city-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 350px;
    height: 150px;
    border: 2px solid blue;
    width: 800px;
}

.weather-item, #weather-item {
    margin-left: 50px;
}


.col-2 {
    /* margin-right: 15px;
   padding-right: 15px; */
   float: left;
}


.ul {
    list-style: none;
}

.li, .temp, .wind, .humidity, .uv-index {
    list-style: none;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -33px;
    font-weight: 600;
}

.h3, .h-3 {
    margin-top: 60px;
    margin-left: 350px;
}

.card {
    margin-left: -28px;
    width: 280px;
    color: white;
    margin-bottom: 5px;
}