* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    background-image: url(clear-sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.banner, .app-title {
    background-color: blue;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.main, .flex-row {
    display: block;
    margin-top: 20px;
    height: 100vmax;
}

.button, .submit {
    width: 280.33px;
    padding: 3px;
    border-radius: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: blue;
    color: white;
    font-weight:500;
}

.border-line {
    margin-top: 10px;
    height: 2px;
    color: blue;
    width: 280px;
    border: 1px solid blue;
}

.input, .city-search {
    width: 280.33px;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}
.searched-cities {
    margin-top: 10px;
    width: 180px;
    margin-left: 26px;
}



/* .city-title {
   display: flex;
   justify-content: center ;
    margin-top: 50px;
    margin-left: 350px;
    height: 350px;
    border: 0px solid blue;
    width: 800px;
} */

.city-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 350px;
    height: 250px;
    border: 2px solid blue;
    width: 800px;
    
}


.future-forecast {
    display: flex;
    margin-top: 0px;
    margin-bottom: 200px;
    margin-left: 350px;
    height: 250px;
    border: 2px solid blue;
    width: 800px;
    padding: 20px;
    justify-content: center;
   
}
.future-forecast, .weather-forecast {
    display: flex;
}

.future-forecast, .weather-forecast, .temp-f, .wind-f, .humidity-f {
    display: flex;
   flex-direction: row;
  
  
} 
 


.weather-item, #weather-item {
    margin-left: -200px;
}
.weather-icon {
font-size: 2px;
}


.cityTitle {
    text-align: center;
    align-items: center;
    margin-left: 220px;
    font-weight: 700;
}

.col-2 {
    /* margin-right: 15px;
   padding-right: 15px; */
   float: left;
}


li {
    list-style: none;
}
.temp, .wind, .humidity, .uv-index {
    
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -33px;
    font-weight: 600;
    justify-content: space-evenly;
}

.current-date, #current-date {
    margin-left: -35px;
}
.cityTitle {
    margin-left: 295px;
   
}
.temp-f, .wind-f, .humidity-f {
    display: flex;
    flex-direction: column;
    /* padding-top: 5px; */
    margin-top: 5px; 
     margin-bottom: 5px;
    margin-left: -33px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.h3, .h-3 {
    margin-top: 60px;
    margin-left: 350px;
}

.card {
    margin-left: -28px;
    width: 280px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}